h1 {
  text-align: center;
}

#first-row {
  display: flex;
}

.without-descriptions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.with-descriptions {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.charts {
  margin-bottom: 20px;
  display: flex;
}