h1 {
    text-align: center;
}

#first-row {
    display: flex;
}

.world-map-container {
    padding: 10px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
}

.charts {
    margin-bottom: 20px;
    display: flex;
}
