h1 {
  text-align: center;
}

#first-row {
  display: flex;
}

.without-descriptions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 36px;
}

.with-descriptions {
  display: flex;
  justify-content: center;
  margin-bottom: 36px;
}

.descriptions {
  width: 300px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  padding-left: 21px;
  padding-top: 10px;
}